<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.oceansurveyor.write_test.plist</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/wujung/anaconda/envs/py27/bin/python</string>
		<string>/Users/wujung/code/adcp2Sv/test_write.py</string>
	</array>
	<key>StartInterval</key>
	<integer>20</integer>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/tmp/turtle.out</string>
	<key>StandardErrorPath</key>
	<string>/tmp/turtle.err</string>
</dict>
</plist>
